@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,900&display=swap");

body {
  @apply h-full overflow-x-hidden bg-white;
}

html {
  @apply h-full;
}

::selection {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus,
select:focus {
  @apply transition focus:border-2 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-transparent;
}
